{% extends "base.html" %}

{% block content %}
<div class="banner d-flex align-items-center">
    <div class="container text-white text-center">
        <h1 class="display-4">Seu carro merece cuidado especial</h1>
        <p class="lead">Serviços premium de estética automotiva</p>
        <a href="/servicos" class="btn btn-custom btn-lg">Conheça nossos serviços</a>
    </div>
</div>

<div class="container my-5">
    <h2 class="text-center mb-4">Por que escolher nossa empresa?</h2>
    <div class="row">
        <div class="col-md-4 text-center p-4">
            <h4>Profissionais Qualificados</h4>
            <p>Técnicos especializados com certificação internacional</p>
        </div>
        <div class="col-md-4 text-center p-4">
            <h4>Produtos Premium</h4>
            <p>Utilizamos as melhores marcas do mercado</p>
        </div>
        <div class="col-md-4 text-center p-4">
            <h4>Garantia Total</h4>
            <p>12 meses de garantia em todos os serviços</p>
        </div>
    </div>
</div>
{% endblock %}